
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.adhyay {
    position: relative;
}

.adhyay .content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.adhyay .content h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .adhyay .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }
  
  .adhyay .content ul {
    list-style: none;
    padding: 0;
  }
  
  .adhyay .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
  }
  
  .adhyay .content ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: var(--theme);
  }

  .adhyay .content p {
    color: #000;
    font-size: 17px;
    text-align: justify;
    font-style: italic;
    word-spacing: 2px;
    font-weight: 600;
    letter-spacing: 0.2mm;
  }
  
  .adhyay .content .info p:last-child {
    margin-bottom: 0;
    color: #555;
  }
  
  .adhyay .content .book_page{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5) 0 20px 100px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    transition: 1s;
    margin-bottom: 50px;
  }
  
  .description{
    margin-top: 30vh;
  }

  .slokh:hover {
    color: var(--theme);
    cursor: pointer;
  }
  
  .description h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .description h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }
  
  .description ul {
    list-style: none;
    padding: 0;
  }
  
  .description ul li {
    padding: 10px 0 0 28px;
    position: relative;
    margin-left: 25px;
  }
  
  .description ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: var(--theme);
  }

  .adhyay table tr {
    transition: 0.1s ease-in-out;
  }

  .adhyay table tr:hover {
    content: '';
    background-color: var(--hover);
    box-shadow: inset 0 0 10px rgba(94, 94, 94, 0.77);
    cursor: zoom-in;
    border: none;
    transform: scale(1);
  }

  @media (max-width: 576px) {
    .adhyay table {
      margin-top: 10px !important;
    }

    .adhyay table tr td {
      font-size: 14px;
    }

    .adhyay table tr td button {
      font-size: 10px;
    }
  }


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  position: relative;
  padding-top: 0;
}

.faq .content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.faq .content .accordion-button:not(.collapsed) {
  background-color: none !important;
  color: #000;
}

@media (max-width: 1200px) {
  .faq .faq_list {
    padding: 0;
  }
}

.accordion_body {
  padding: 1rem 1.25rem;
  border: none;
  background-color: var(--theme);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.faq .content .accordionBtn {
  border-radius: 10px !important;
  padding: 20px;
  background-color: var(--hover);
  font-size: 18px;
  font-weight: 600;
}

.faq .content .accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}

.faq .content .accordionBody {
  margin-top: 5px;
  text-align: justify;
  border: 1px solid var(--hover);
  border-radius: 10px;
  font-size: 18px;
}

.faq .content .accordionBody h4 {
  font-size: 24px;
  color: var(--theme)
}

.faq .content .accordionBody p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.faq .content p i {
  font-size: 12px;
  position: relative;
  top: -10px;
}

