.bhajan {
    /* background-image: linear-gradient(to bottom right, rgb(209, 0, 0), rgb(0, 42, 255)); */
    /* background-image: url('/assets/wallpaper/5.jpg'); */
    /* background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    width: 100%;
    min-height: calc(100% - 10px) !important;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* .bhajan .content {
    position: absolute;
    top: 0;
    width: 100%;
  } */
  
  .bhajan .content {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 65vh;
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 576px) {
  .bhajan .content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .musicList {
    margin: 5px auto;
    width: 100%;
    font-size: 13px;
  }


  .player {
    width: 100% !important;
    border-radius: 20px;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
  }

  .player .videoPlayer iframe {
    width: 90%;
    height: 18rem !important;
    margin: 0 auto;
    border-radius: 20px;
  }

  .player .card .card_body {
    padding: 0 35px;
  }

  .player .card .card_body p {
    font-size: 17px !important;
  }

  .player .card .card_body p .artist {
    font-size: 14px !important;
  }

}

  .bhajan .content ul li a {
    color: var(--pagination);
    font-weight: 700;
    font-size: 18px;
  }

  .bhajan .content p {
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 0.15mm;
  }

  .musicList {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 10px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: rgba(255, 255, 255, 0.525);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
  }

  .musicList h1 {
    background-color: rgba(255, 255, 255, 0.218);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 26px;
    padding: 10px;
  }

  .musicList table {
    height: 20px !important;
    overflow: hidden;
    overflow-y: auto;
  }

  .musicList table tbody {
    max-height: 200px;
    overflow: auto !important;
    display: block;
    width: 100%;
  }

  .player {
    width: 40%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.218);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
  }

  .player img {
    text-align: center;
    font-size: 26px;
    padding: 0px;
    
  }

  .player .videoPlayer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
  }

  .player .videoPlayer iframe {
    width: 85%;
    height: 12rem;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 35px;
  }

  /* music player design */
  .player .card {
    width: 100%;
    height: 100%;
    margin: 0;
    /* background-color: #999fa5; */
    background-color: #b3b3b345;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .player .card .card_img_top {
    width: 85%;
    height: auto;
    margin: 0px auto;
    padding: 20px 0;
    overflow: hidden;
    border-radius: 10%;
  }

  .player .card .card_img_top img {
    width: 100%;
    border-radius: 10%;
    filter: brightness(95%) contrast(100%);
  }

  .player .card .musicDuration {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .player .card .musicController {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .player .card .range{
    width: 100%;
    height: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
  }
  .player .card .slider{
    height: 5px;
    width: 30px;
    background-color: black;
  }

  .player .card .duration {
    display: flex;
    justify-content: space-between;
  }

  .player .card .duration p {
    font-size: 13px;
    margin: 0;
  }

  .player .card .music_control i {
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 5px rgba(58, 58, 58, 0.693);
  }

  .player .card .playPause i {
    color: rgb(255, 0, 0);
  }

  .player .card .music_control i:hover {
    text-shadow: 0 3px 5px rgba(58, 58, 58, 0.693);
    color: rgb(0, 0, 0);
  }

  .player .card .card_body {
    padding: 0 35px;
  }

  .player .card .card_body p {
    font-size: 15px;
    font-weight: 600;
  }

  .player .card .card_body p .artist {
    font-size: 13px;
    color: white;
    font-weight: 600;
  }