
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    color: #fff;
    font-size: 14px;
    background: #111;
  }
  
  .footer .footer_top {
    padding: 60px 0 30px 0;
    background: #1e1e1e;
  }
  
  .footer .footer_top .footer_contact {
    margin-bottom: 30px;
  }
  
  .footer .footer_top .footer_contact h3 a {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--theme);
    text-decoration: none;
  }
  
  .footer .footer_top .footer_contact strong a{
    color: gray;
    text-decoration: none;
  }
  
  .footer .footer_top .footer_contact strong a:hover{
    color: var(--theme); 
  }
  
  .footer .footer_top .footer_contact h3 a span{
    color: whitesmoke;
  }
  
  .footer .footer_top .footer_contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer .footer_top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer_top .footer_links {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer .footer_top .footer_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer_top .footer_links ul i {
    padding-right: 2px;
    color: var(--theme);
    font-size: 18px;
    line-height: 1;
  }
  
  .footer .footer_top .footer_links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer_top .footer_links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer_top .footer_links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
  
  .footer .footer_top .footer_links ul a:hover {
    text-decoration: none;
    color: #fff;
  }
  
  .footer .footer_newsletter {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .credits a {
    padding-top: 5px;
    font-size: 13px;
    text-decoration: none;
    color: var(--theme);
    font-weight: 600;
  }
  
  .footer .credits a:hover{
    color: var(--hover);
    transition: 0.3s;
  }
  
  .footer .social_links a {
    font-size: 22px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    transition: 0.3s;
    text-decoration: none;
  }

  .footer .social_links .github:hover {
    background: #666666;
    color: #fff;
    text-decoration: none;
  }

  .footer .social_links .facebook:hover {
    background: #0055ff;
    color: #fff;
    text-decoration: none;
  }

  .footer .social_links .instagram:hover {
    background-color: #d7660f;
    color: #fff;
    text-decoration: none;
  }


  @media (max-width: 576px) {
    .footer .footer_top {
      padding: 40px 0px 30px 10px;
      background: #1e1e1e;
    }

    .footer .footer_top .footer_contact {
      margin-bottom: 30px;
      width: 100vw !important;
    }
    
    .footer .social_links a {
      font-size: 17px;
      padding: 6px 0;
      width: 34px;
      margin-right: 5px;
    }
    
    .footer .social_links a:hover {
      background: #0055ff;
      color: #fff;
      text-decoration: none;
    }
    
  }
  