/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #4d4643;
}

a {
  color: #1bbd36;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

:root {
  --theme: #cca04a;
  --hover: #cca14ac6;
  --pagination: rgb(0, 174, 255);
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  /* overflow: hidden; */
}

.section_title {
  text-align: center;
  padding-bottom: 30px;
}

.section_title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section_title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: var(--theme);
  bottom: 10px;
  left: calc(50% - 50px);
}

.section_title p {
  margin-bottom: 0;
}

