
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about_us {
    position: relative;
}

.about_us .content {
    position: relative;
}

.about_us .content h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .about_us .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }
  
  .about_us .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about_us .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
  }
  
  .about_us .content ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: var(--theme);
  }
  
  .about_us .content .info p:last-child {
    margin-bottom: 0;
    color: #555;
  }
  
  .about_us .content .book_page{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5) 0 20px 100px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    transition: 1s;
    margin-bottom: 50px;
  }
  
  .description{
    margin-top: 30vh;
  }

  .description span {
    color: var(--theme);
  }

  .slokh:hover {
    color: var(--theme);
    cursor: pointer;
  }
  
  .description h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .description h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }

  .description p {
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 0.2mm;
    font-style: italic;
    font-weight: 600;
  }
  
  .description ul {
    list-style: none;
    padding: 0;
  }
  
  .description ul li {
    padding: 10px 0 0 28px;
    position: relative;
    margin-left: 25px;
  }
  
  .description ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: var(--theme);
  }
  
  .about_us .content .book_page:hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(-5deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0px 10px 100px rgba(0, 0, 0, 0.5);
  }
  
  .about_us .content .book_page:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #000;
    transform-origin: bottom;
    transform: skewX(-45deg);
  }
  
  .about_us .content .book_page:after{
    content: '';
    position: absolute;
    top: 2px;
    right: -5px;
    width: 5px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transform-origin: left;
    transform: skewY(-45deg);
  }
  
  .about_us .content .page_img{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1.9s;
    z-index: 1;
  }
  
  .about_us .content .page_img img{
    width: 100%;
    height: 100%;
  }
  
  .about_us .content .book_page:hover .page_img{
    transform: rotateY(-135deg);
  }
  
  .about_us .content .book_text{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
    font-size: 10px;
    text-align: justify;
  }
  
  .about_us .content .book_page h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background-color: #20202015;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.23);
}

.services span a {
  text-decoration: none;
  border: 2px solid var(--theme);
  border-radius: 5px;
  padding: 8px 18px;
  transition: 0.3s ease-in-out;
  color: #000;
  box-sizing: border-box;
}
.services span {
  transition: 0.3s ease-in-out;
}

.services span:hover {

  transform: translateY(-5px);
}

.services span a:hover {
  background-color: var(--theme);
  color: #fff;
  box-shadow: 0 0 15px #0000003a;
}

.services .icon_box {
  text-align: center;
  /* padding: 70px 20px 80px 20px; */
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon_box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon_box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon_box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon_box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon_box h4 {
  font-weight: 600;
  font-size: 20px;
}

.services .icon_box h4 a {
  color: #00adff;
  transition: ease-in-out 0.3s;
}

.services .icon_box p {
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 0;
  color: gray;
  font-weight: 600;
  word-spacing: 1px;
}

.services .icon_box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox_blue i {
  color: #47aeff;
}

.services .iconbox_blue:hover .icon i {
  color: #fff;
}

.services .iconbox_blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox_orange i {
  color: #ffa76e;
}

.services .iconbox_orange:hover .icon i {
  color: #fff;
}

.services .iconbox_orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox_pink i {
  color: #e80368;
}

.services .iconbox_pink:hover .icon i {
  color: #fff;
}

.services .iconbox_pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox_yellow i {
  color: #ffbb2c;
}

.services .iconbox_yellow:hover .icon i {
  color: #fff;
}

.services .iconbox_yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox_red i {
  color: #ff5828;
}

.services .iconbox_red:hover .icon i {
  color: #fff;
}

.services .iconbox_red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox_teal i {
  color: #11dbcf;
}

.services .iconbox_teal:hover .icon i {
  color: #fff;
}

.services .iconbox_teal:hover .icon path {
  fill: #11dbcf;
}
  